###############################################################################
# macOS                                                                       #
###############################################################################
.DS_Store
.AppleDouble
.LSOverride
Icon?
._*

###############################################################################
# Jekyll build artifacts                                                      #
###############################################################################
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata

###############################################################################
# Ruby / Bundler                                                              #
###############################################################################
.bundle/
vendor/bundle/

###############################################################################
# Node / Front-end                                                            #
###############################################################################
node_modules/

###############################################################################
# Logs & temp                                                                 #
###############################################################################
*.log
*.swp
*.tmp
